body {
    margin: 0;
    padding: 0;
}

.settingsWindowTitle {
    left: 17%;
    top: 2%;
    position: absolute;
    height: 16px;
    font-weight: 700;
    font-size: 13px;
    user-select: none;
    -webkit-user-drag: none;
    padding-left: .5rem;
    padding-right: .5rem;
}

.Normalsettings {
    position: absolute;
    left: 18%;
    top: 6%;
    width: auto;
}

.settingsTypeLarge {
    width: 12%;
}

.divLine {
    border-left: 1px solid black;
    height: 100%;
    width: 2px;
    left: 14%;
    position: absolute;
    top: 0%;
}

.backgroundImage {
    background-repeat: no-repeat;
    background-size: 113%;
    width: auto;
    height: 100%;
    background-position-y: -1%;
}

.app {
    position: relative;
    left: 2%;
    padding: 0px 14%;
    --scale: 1;
    padding-bottom: calc((var(--scale) * 80px) - (80px / var(--scale)));
    height: 20%;
    display: flex;
    align-items: flex-end;
    transition: all 0.35s;
}

.appMenu a {
    -webkit-user-drag: none;
}

.appMenu a img {
    width: 80px;
    height: 80px;
    border-radius: 11.13px;
    -webkit-user-drag: none;
}

.appMenu img {
    width: 80px;
    height: 80px;
    border-radius: 11.13px;
    -webkit-user-drag: none;
}

.appMenu {
    padding: 0px 20px;
    flex-direction: column;
    width: calc(80px * var(--scale));
    height: calc(80px * var(--scale));
    /* background: rgba(229, 229, 229, 0.95); */
    border-radius: 11.13px;
    /* border-radius: calc(10px * var(--scale)); */
    transition: all 0.35s;
    cursor: pointer;
    user-select: none;
}

.container {
    margin: auto;
    padding: 15px;
    position: fixed;
    left: 50%;
    translate: -50% 0;
    bottom: 20px;
    height: 80px;
    background: rgba(255, 255, 255, 0.24);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 0.519481px solid rgba(255, 255, 255, 0.18);
    box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 18px;
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
}

.item {
    --scale: 1;
    padding-bottom: calc((var(--scale) * 50px) - (50px / var(--scale)));
    height: 100%;
    display: flex;
    align-items: flex-end;
    transition: all 0.35s;
}

.menu {
    width: calc(50px * var(--scale));
    height: calc(50px * var(--scale));
    /* background: rgba(229, 229, 229, 0.95); */
    border-radius: 11.13px;
    /* border-radius: calc(10px * var(--scale)); */
    transition: all 0.35s;
    cursor: pointer;
    user-select: none;
}

.deepLWindow {
    width: 300px;
    height: 200px;
}

.menu a {
    -webkit-user-drag: none;
}

.menu a img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    -webkit-user-drag: none;
}

.menu img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    -webkit-user-drag: none;
}

.gap {
    width: calc(15px * var(--scale));
    height: 50px;
    background: transparent;
    transition: all 0.35s;
}

/* 弹窗样式 */
.popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 200px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    z-index: 9999;
}

.vertical-line {
    height: 50px;
    border-left: 1px solid black;
}

header {
    unicode-bidi: isolate;
}

.bar {
    display: flex;
    align-items: center;
    padding: 0px 15px;
    height: 30px;
    background: rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 0.519481px solid rgba(255, 255, 255, 0.18);
    box-sizing: border-box;
    -webkit-user-drag: none;
    user-select: none;
}

.bar_div {
    padding: 0px 10px;
    height: 16px;
    background: transparent;
    transition: all 0.35s;
    align-items: center;
    -webkit-user-drag: none;
    justify-content: flex-start;
}

.appleDivBar {
    padding: 0px 0px 0.5px;
    height: 16px;
    border-left: 1px solid black;
}

.appleDivBar {
    padding: 0px 0px 0px;
    width: 16px;
    height: 16px;
}

.bar_p {
    height: 16px;
    font-size: 13px;
    -webkit-user-drag: none;
    cursor: pointer;
    user-select: none;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

* {
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
}

.bar_title {
    height: 16px;
    font-weight: 700;
    align-items: center;
    justify-content: flex-start;
    -webkit-user-drag: none;
    cursor: pointer;
    user-select: none;
}

.apple_logo {
    -webkit-user-drag: none;
    cursor: pointer;
    user-select: none;
    justify-content: flex-start;
    width: 16px; 
    height: 16px; 
    border-radius: 10px;
}

.appleItem {
    display: inline-block;
    padding: 0px 0px;
    width: auto;
    justify-content: flex-end;
    align-items: center;
    -webkit-user-drag: none;
    cursor: pointer;
    user-select: none;
    position: relative;
    top: 1px;
}

.window-close-button {
    display: block;
    position: absolute;
    padding: 0px 0px;
    left: 12px;
    top: 9px;
    width: 16px;
    height: 16px;
    align-items: center;
    background: #FF5D5B;
    border: 1px solid #CF544D;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
}

.window-max-button {
    display: block;
    position: absolute;
    padding: 0px 0px;
    left: 35px;
    top: 9px;
    width: 16px;
    height: 16px;
    align-items: center;
    background: #ffe100;
    border: 1px solid #ffcc00;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
}

.window-min-button {
    display: block;
    position: absolute;
    padding: 0px 0px;
    left: 58px;
    top: 9px;
    width: 16px;
    height: 16px;
    align-items: center;
    background: #0eaf05;
    border: 1px solid #00bb51;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;
}

.window {
    display: none;
    position: fixed;
    left: 50%;
    top: 46%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 60%;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.24);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 0.519481px solid rgba(255, 255, 255, 0.18);
    box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 18px;
    padding: 20px;
    z-index: 9999;
}

.searchWindow {
    display: none;
    position: fixed;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);
    width: 55%;
    height: 2%;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.24);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    border: 0.519481px solid rgba(255, 255, 255, 0.18);
    box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 18px;
    padding: 20px;
    z-index: 9999;
}

.window-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.window-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.appleItemTime {
    font-size: 13px;
    padding: 0px 0px 4.5px;
    height: 16px;
}

.appleItemSiri {
    padding: 0px 0px 0px;
    width: 16px;
    height: 16px;
}

.appleItemSizeDefault {
    width: 18px;
    height: 16px;
}

.appleItemInfo {
    padding: 0px 0px 0px;
    width: 16px;
    height: 16px;
}

.appleItemSearch {
    width: 16px;
    height: 16px;
}

.appleItemBattery {
    padding: 0px 0px 0.5px;
    width: 25px;
    height: 22px; 
}

.appleItemDiv {
    justify-content: flex-end;
    padding: 0px 7px;
    height: 20px;
    background: transparent;
    transition: all 0.35s;
    align-items: center;
    user-select: none;
    -webkit-user-drag: none;
}

.bar_right {
    margin-left: auto;
    align-items: center;
    padding: 0px 10px;
}

.application {
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 0.519481px solid rgba(255, 255, 255, 0.18);
}

.windowTitle {
    position: absolute;
    display: block;
    align-items: center;
    left: 48%;
    top: 8.9px;
    height: 16px;
    font-weight: 700;
    font-size: 13px;
    user-select: none;
    -webkit-user-drag: none;
}

.noSelect {
    user-select: none;
    -webkit-user-drag: none;
}

.links {
    color: black;
    text-decoration: none;
    cursor: pointer;
    -webkit-user-drag: none;
}

.window-content {
    font-size: 14px;
    font-weight: 400;
}

.searchElement {
    position: relative;
    top: -25%;
}
